*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoHeader{
    width: 15vw;
    border-radius: 15%;
}

header{
    /* height: 20vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navegation{
    width: 50vw;
}

.list{ 
    display: flex;
    width: 100%;
}

.itemList{
    width: 100%;
    display: flex;
    text-transform: uppercase;
    list-style: none;
    font-weight: 700;
    align-items: center;
}

.containerImg{
    display: flex;
    justify-content: space-evenly;
    border: solid red;
}

.imgDog{
    /* width: 250px; */
    /* height: 200px; */
    width: 15vw;
    height: 20vh;
}

.boxInfo{
    height: 50vh;
    border: solid blue;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


/*WATCH - (max-width: 200px)*/

/* @media (min-width: 150px) and ( max-width: 200px){ */
    @media (max-width: 200px){

    header, .list{
display: flex;
flex-direction: column;
align-items: center;  
background-color: orange;  
}

    .itemList{
        font-size: 18px;
        text-align: center;
    }

.logoHeader{
    width: 40vw;
}

.containerImg{
    display: flex;
    flex-direction: column;
}

.imgDog{
    width: 90vw;
}

.boxInfo{
    height: 30vh;
}
p{
    font-size: 1.3rem;
}

button{
    width: 38vw;
    background-color: yellow;
    font-size: 1.3rem;
}

}


/*MOBILE - (min-width: 201px) and (max-width: 500px)*/

@media (min-width: 201px) and (max-width: 500px) {

    header, .list{
    display: flex;
    flex-direction: column;
    align-items: center;  
    }

header{
    background-image: url("./imagens/thor.jpeg");
background-size: cover;
background-repeat: no-repeat;
}

.logoHeader{
    display: none; /* Imagem sumiu */

}

.itemList{
    font-size: 22px;
    text-align: center;
    color: red;
}

.containerImg{
    display: flex;
    flex-direction: column;
}

.imgDog{
    width: 90vw;
}

.boxInfo{
    height: 30vh;
}
p{
    font-size: 1.3rem;
    text-transform: uppercase;
}

button{
    width: 45vw;
    background-color: orange;
    font-size: 1.3rem;
    text-transform: uppercase;
cursor: pointer;
}




}


/*TABLET - (min-width: 501px) and (max-width: 900px)*/

@media (min-width: 501px) and (max-width: 900px) {

    header, .list{
    width: 100%;
    display: flex;
    align-items: center;  
    background-color: violet; 
    justify-content: space-evenly; 
    }

    .itemList{
        font-size: 12px ;
        color: white;
    }

    .logoHeader{
        width: 25vw;
    }

.imgDog{
    width: 200px;
}

.containerImg{
    display:flex;
    flex-wrap: wrap;
}

p{
    font-size: 2rem;
    text-transform: uppercase;
    color: red; 
    font-weight: 800;
}

button{
    width: 16vw;
    background-color: violet;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

}

/*LAPTOP - (min-width: 901px) and (max-width: 1500px)*/

@media (min-width: 901px) and (max-width: 1500px) {

    header, .list{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;  
    background-color: green; 
    justify-content: space-evenly; 
    }

    .itemList{
        font-size: 20px ;
        color: white;
    }

    .logoHeader{
        width: 20vw;
    }


.imgDog{
    width: 250px;
}

.containerImg{
    display:flex;
    flex-wrap: wrap;
}

.boxInfo{
    margin: 2rem;
}


    p{
        font-size: 2rem;
        text-transform: uppercase;
        color: red; 
        font-weight: 800;
    }
    
    button{
        width: 16vw;
        background-color: violet;
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
}


/*DESKTOP - (min-width: 1501px) and (max-width: 1800px)*/

@media (min-width: 1501px) and (max-width: 1800px) {

    header, .list{
    width: 100%;
    display: flex;
    align-items: center;  
    background-color: yellow; 
    justify-content: space-evenly; 
    }

    .itemList{
        font-size: 25px ;
        color: black;
    }

    .logoHeader{
        width: 15vw;
    }

    .imgDog{
        width: 250px;
    }
    
    .containerImg{
        display:flex;
        flex-wrap: wrap;
    }
    
    .boxInfo{
        margin: 2rem;
    }
    
    
        p{
            font-size: 3rem;
            text-transform: uppercase;
            color: red; 
            font-weight: 800;
        }
        
        button{
            width: 16vw;
            background-color: violet;
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }


}

/*WIDE-SCREEN (DESKTOP TELA AMPLA) - (min-width: 1801px) */

@media (min-width: 1801px) {

    header, .list{
    width: 100%;
    display: flex;
    align-items: center;  
    background-color: pink; 
    justify-content: space-evenly; 
    }

    .itemList{
        font-size: 25px ;
        color: black;
    }

    .logoHeader{
        width: 15vw;
    }


    .imgDog{
        width: 400px;
    }
    
    .containerImg{
        display:flex;
        flex-wrap: wrap;
    }
    
    .boxInfo{
        margin: 2rem;
    }
    
    
        p{
            font-size: 3rem;
            text-transform: uppercase;
            color: red; 
            font-weight: 800;
        }
        
        button{
            width: 10vw;
            background-color: violet;
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }


}

/*-------FOOTER--------*/

footer{
    background-color: gray;
}

.boxOne{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgFooter{
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
}

@media(min-width: 201px) and (max-width: 500px){
    footer{
        background-color: aqua;
    }

    .imgFooter{
        width: 25vw;
        height: 15vh;
    }
}
@media (min-width: 501px) and (max-width: 900px){

    footer{
        background-color: orange;
    }

    .imgFooter{
        width: 25vw;
        height: 15vh;
    }
.boxOne{
    display: flex;
    flex-direction: column;
}
}

@media(max-width:200px){
    footer{
        background-color: bisque;
    }

    .imgFooter{
        width: 50vw;
        height: 15vh;
        margin-top: 1rem;
    }    

    .boxOne{
        display: flex;
        flex-direction: column;
    }
}


